<div>
  <mat-toolbar class="mat-toolbar">
    <mat-toolbar-row>
      <div fxLayoutAlign="start start">
        <div>
          <button mat-button (click)="drawer.toggle()" style="padding-left: 0px;">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div fxFlex="60" fxHide.xs>
          <img mat-img class="logo" src="assets/images/keepimage.png">
        </div>
        <div class="element">
          <span>Fundoo Keep</span>
        </div>
        <div>
          <mat-card class="searchInput" routerLink="search" fxLayoutAlign="center center" routerLinkActive="active">
            <button mat-icon-button class="searchButton">
              <mat-icon>search</mat-icon>
            </button>

            <input mat-input class="searchInputBox" placeholder="Search" [(ngModel)]="search">
            <button mat-icon-button (click)="clear()">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>

      <div fxLayout="row" fxFlex=30 fxLayoutAlign="space-between center">
        <div fxLayout="row" fxFlex=70 style="margin-left: 10%">

          <button mat-icon-button>
            <mat-icon>refresh</mat-icon>
          </button>

          <button mat-icon-button (click)="changeView(show)">
            <mat-icon *ngIf="show">view_stream</mat-icon>
            <mat-icon *ngIf="!show">view_module</mat-icon>
          </button>

          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </div>
        <div fxLayout="row" fxFlex=30>
          <button mat-icon-button>
            <mat-icon>apps</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="profilePicMenu">

            <img class="profilepic" src="assets/images/profile.jpg">

          </button>

          <mat-menu #profilePicMenu="matMenu" xPosition="before" style="padding:16px;">
            <div fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="space-around start">
                <div>

                  <img class="profilePicButton" src="assets/images/profile.jpg" (click)="onPost()">

                </div>
                <div fxLayout="column">
                  <span class="userNameStyle">{{fullName}}</span>
                  <span class="emailStyle">{{emailID}}</span>
                  <!-- <h5>Aastha Shree</h5>
                  <h6>aasthashree30@gmail.com</h6> -->
                </div>


              </div>
              <mat-divider style="margin-top: 7px;"></mat-divider>

              <div fxLayoutGap="20px" style="margin-top: 16px">
                <button class="profileButton" mat-flat-button>Add account</button>
                <button class="profileButton" (click)="logout()" mat-flat-button>Sign out</button>


              </div>
            </div>
          </mat-menu>
        </div>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <div class="flexContainer" style="overflow-y: scroll; margin-right: -17px; box-sizing: unset;">
    <mat-drawer-container class="sideMenu">
      <mat-drawer #drawer mode="side" style="border:0px" disableClose>
        <div fxLayout=column>
          <button mat-raised-button class="menuButton" routerLink="notes" [disableRipple]="true">
            <mat-icon style="margin-right:40px;margin-left:13px">
              lightbulb_outline
            </mat-icon>
            Notes
          </button>

          <button mat-raised-button class="menuButton" [disableRipple]="true">
            <mat-icon style="margin-right:40px;margin-left:13px">
              notifications_none
            </mat-icon>
            Reminders
          </button>
          <mat-divider style="margin-top: 7px;"></mat-divider>

          <div>
            <h4 class="labelStyle">LABELS</h4>
          </div>
          <div *ngIf="labels ? labels.length>0: false">
            <div *ngFor="let label of labels">
              <button mat-raised-button class="menuButton" [disableRipple]="true">
                <mat-icon style="margin-right:40px;margin-left:13px">
                  <img src="assets/icons/label-24px.svg">
                </mat-icon>
                {{label.labelName}}
              </button>
            </div>
          </div>
          <!-- </div> -->
          <div>
            <button mat-raised-button class="editButton" [disableRipple]="true">
              <!-- (click)="openDialog()"  -->
              <mat-icon style="margin-right:40px;margin-left:13px">
                <img src="assets/icons/create-24px.svg">
              </mat-icon>
              Edit labels
            </button>


          </div>

          <mat-divider style="margin-top: 7px;"></mat-divider>

          <button mat-raised-button class="menuButton" [disableRipple]="true">
            <mat-icon style="margin-right:40px;margin-left:13px">
              <img src="assets/icons/archive-24px.svg">
            </mat-icon>
            Archive
          </button>

          <button mat-raised-button class="menuButton" [disableRipple]="true">
            <mat-icon style="margin-right:40px;margin-left:13px">
              delete_outline
            </mat-icon>
            Trash
          </button>
        </div>
      </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

  </div>



</div>