<div>
    <div fxLayout="row wrap" fxFlex="80" style="width: 504px;" class=side>
        <div *ngFor="let note of notes">
            <mat-card class="matcard1" (click)="onUpdate(note)">

                <div>
                    <textarea matInput class="notearea" style="font-weight: bold;
                    " [(ngModel)]="note.title" cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="auto"
                        (click)="openDialog(note)" disabled></textarea>
                    <br>

                    <textarea matInput class="notearea" [(ngModel)]="note.description" cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="auto"
                        (click)="openDialog(note)" disabled></textarea>

                </div>
            </mat-card>
        </div>
    </div>
</div>