<div class="updatenote">

  <div>
      <textarea matInput class="notearea"
        placeholder="Title" [(ngModel)]="note.title" [formControl]="title" cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="auto">
          </textarea>
      <br>

      <textarea matInput class="notearea1" placeholder="Note" [(ngModel)]="note.description" [formControl]="description" cdkTextareaAutosize
      #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="auto">
          </textarea>

      <button class=close mat-button (click)="onClose()" fxLayoutAlign="end end">
        Close
      </button>
      <!-- <app-icons></app-icons> -->
  </div>
  

</div>
