.matcard2{
   
    width:380px;
}
.mat-form-field{
    width:500px;
}
.close{
    margin-left: 320px;
    margin-top:80px 

}
.text1{
    margin-top:20px;
    width: 384px;
    margin-left: -18px;
  
}
.notearea {
    border: none;
    outline: none;
    background-color: white;
}
.matcard1{
   
    width:380px;
     height: 55px;
}