<div class="updatenote">

  <div >
    <form>
      <textarea matInput class="notearea"
        placeholder="Title" [(ngModel)]="note.title" [formControl]="title" cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10">
          </textarea>
      <br>

      <textarea matInput class="notearea1" placeholder="Note" [(ngModel)]="note.description" [formControl]="description" cdkTextareaAutosize
      #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15">
          </textarea>

      <button class=close mat-button (click)="onClose()">
        Close
      </button>
      <app-icons></app-icons>
    </form>
  </div>
  

</div>
