<app-toolbar></app-toolbar>
<div class="reset-password-container" fxLayout="column" fxLayoutAlign="space-around center">
  <mat-card class="resetPasswordCard">
    <mat-card-header>
      <mat-card-title fxLayout="column" fxLayoutAlign="center center" class="title">Reset Password Page</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="reset-password-div" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
            [(ngModel)]="setPassword.newPassword" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
            [(ngModel)]="setPassword.confirmPassword" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="resetPassword()">Submit</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>